@import 'styles/variables';

.container {
	width: 100%;
	max-width: $screen-med;
	text-align: center;
}

.letters {
	path {
		visibility: hidden;
	}
}

.studio {
	opacity: 0;
	transform: translateX(-5px);
	visibility: hidden;
}
