// variables
// --------------------------------------------------

// colors
$wildmane-gold: #e8d298;
$wildmane-gold-dark: #988b65;

// breakpoints
$screen-min: 320px;
$screen-med: 768px;
$screen-lrg: 1024px;

// spacing
$spacing-min: 2rem;
$spacing-max: $spacing-min * 2;
