@import 'variables';

.main {
	height: 100%;
	padding: $spacing-min;
	font-size: 0.8rem;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	img {
		width: 100%;
		max-width: 596px;
		height: auto;
	}

	@media screen and (min-width: $screen-med) {
		padding: $spacing-max;
		font-size: 1rem;
	}
}
